{{ define "footer" }}
    </div>
    <footer>
        <p>
            <a href="/">Raffle</a> &bullet;
            <a href="/export">Export</a>
        </p>
        <p>Made with ❤️ by <a href="https://github.com/topi314">topi314</a> &bullet; Source code available on <a href="https://github.com/topi314/campfire-raffle">GitHub</a></p>
    </footer>
    </body>
    </html>
{{ end }}
