{{ template "head" "Campfire Tools" }}
<div class="container">
    <h1>Campfire Tools</h1>
    <p>Welcome to the Campfire Tools! Here you can run raffles, export campfire data and track your campfire check-ins.</p>
    <div class="buttons">
        <a href="/raffle" class="button">Raffle</a>
        <a href="/export" class="button">Export</a>
        <a href="/tracker" class="button">Tracker</a>
    </div>
</div>
{{ template "footer" }}
