{{ template "head" "Tracker" }}
<div class="container">
    <h1>Tracker Member</h1>

    <h2>Tracked Events</h2>
    <ul class="list">
        {{ range .Events }}
            <li class="list-item">
                <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
            </li>
        {{ else }}
            <li class="list-item">No events tracked yet.</li>
        {{ end }}
    </ul>
</div>
{{ template "footer" }}
