{{ template "head" "Homepage" }}
<div class="container">
    <div class="container-header">
        <h1>Homepage</h1>
    </div>

    <p>Welcome to the Homepage! Here you can find links to the latest events and the leaderboard.</p>

    <div class="buttons" hx-boost="true">
        <a href="/events" class="button">Events</a>
        <a href="/leaderboard" class="button">Leaderboard</a>
    </div>
</div>
{{ template "homepage_footer" }}
