{{ define "homepage_footer" }}
    {{ if false }}
        <html lang="en">
        <body>
        <div>
    {{ end }}
    </div>
    <footer>
        <p hx-boost="true">
            <a href="/">Home</a> &bullet;
            <a href="/events">Events</a> &bullet;
            <a href="/leaderboard">Leaderboard</a>
        </p>
    </footer>
    </body>
    </html>
{{ end }}
