{{ template "head" "Campfire Raffle Manage Events" }}
<div class="container">
    <div class="container-header">
        {{ template "back_button" .BackURL }}
        <h1>Manage Events for Raffle #{{ .RaffleID }}</h1>
    </div>

    {{ if .Error }}
        <p class="error" id="error-message">{{ .Error }}</p>
    {{ end }}

    {{ if .Existing }}
        <div class="section">
            <form action="{{ .RemoveFormAction }}" method="POST" id="remove-events-form">
                <label class="form-control" for="remove-ids" title="Select events to remove from the raffle. You can select multiple events.">
                    <div class="section-header">
                        Current Events ({{ len .Existing }})
                        <button id="select-all-remove" class="button">Select All</button>
                    </div>
                    <select class="form-control" id="remove-ids" name="ids" size="10" required multiple>
                        {{ range $event := .Existing }}
                            <option value="{{ $event.ID }}">
                                {{ $event.Name }}
                            </option>
                        {{ end }}
                    </select>
                </label>
                <button class="form-control" type="submit">Remove Events</button>
            </form>
        </div>
    {{ end }}

    <div class="section">
        <form action="{{ .FormAction }}" method="POST">
            <label class="form-control" for="events" title="Enter event links to add. Each link should be on a new line.">
                Event Links
                <textarea class="form-control" id="events" name="events" placeholder="https://cmpf.re/...
https://cmpf.re/..." required autofocus></textarea>
            </label>
            <button class="form-control" type="submit">Add Events</button>
        </form>
    </div>
</div>
<script>
    document.getElementById("events").addEventListener("input", (event) => {
        event.target.style.height = "auto";
        event.target.style.height = (event.target.scrollHeight + 4) + "px";
    });

    document.querySelectorAll("form").forEach((form) => {
        form.addEventListener("submit", () => {
            document.getElementById("error-message")?.remove();
        });
    });

    document.getElementById("select-all-remove")?.addEventListener("click", (e) => {
        e.preventDefault();
        const select = document.getElementById("remove-ids");
        for (let i = 0; i < select.options.length; i++) {
            select.options[i].selected = true;
        }
    });
</script>
{{ template "tracker_footer" }}
