{{ template "head" "Campfire Club Raffle Manage Events" }}
<div class="container">
    <div class="container-header">
        {{ template "back_button" .BackURL }}
        <h1>
            {{ if .AvatarURL }}
                <img src="{{ .AvatarURL }}">
            {{ end }}
            {{ .Name }} Raffle #{{ .RaffleID }} — Manage Events
        </h1>
    </div>

    {{ if .Error }}
        <p class="error" id="error-message">{{ .Error }}</p>
    {{ end }}

    {{ if .Existing }}
        <div class="section">
            <form action="{{ .RemoveFormAction }}" method="POST" id="remove-events-form">
                <label class="form-control" for="remove-ids" title="Select events to remove from the raffle. You can select multiple events.">
                    <div class="section-header">
                        Current Events ({{ len .Existing }})
                        <button id="select-all-remove" class="button">Select All</button>
                    </div>
                    <select class="form-control" id="remove-ids" name="ids" size="10" required multiple>
                        {{ range $event := .Existing }}
                            <option value="{{ $event.ID }}">
                                {{ $event.Name }}
                            </option>
                        {{ end }}
                    </select>
                </label>
                <button class="form-control" type="submit">Remove Events</button>
            </form>
        </div>
    {{ end }}

    <div class="section">
        {{ template "events_filter" . }}

        <br/>

        {{ if .Events }}
            <form action="{{ .FormAction }}" method="POST" id="add-events-form">
                <label class="form-control" for="ids" title="Select events to add to the raffle. You can select multiple events.">
                    <div class="section-header">
                        Available Events ({{ len .Events }})
                        <button id="select-all" class="button">Select All</button>
                    </div>
                    <select class="form-control" id="ids" name="ids" size="10" required multiple>
                        {{ range $event := .Events }}
                            <option value="{{ $event.ID }}">
                                {{ $event.Name }} ({{ $event.CheckIns }})
                            </option>
                        {{ end }}
                    </select>
                </label>
                <button class="form-control" type="submit">Add Events</button>
            </form>
        {{ else }}
            <p>No additional events available to add.</p>
        {{ end }}
    </div>
</div>
<script>
    document.querySelectorAll("form").forEach((form) => {
        form.addEventListener("submit", () => {
            document.getElementById("error-message")?.remove();
        });
    });

    document.getElementById("select-all")?.addEventListener("click", (e) => {
        e.preventDefault();
        const select = document.getElementById("ids");
        for (let i = 0; i < select.options.length; i++) {
            select.options[i].selected = true;
        }
    });

    document.getElementById("select-all-remove")?.addEventListener("click", (e) => {
        e.preventDefault();
        const select = document.getElementById("remove-ids");
        for (let i = 0; i < select.options.length; i++) {
            select.options[i].selected = true;
        }
    });
</script>
{{ template "tracker_footer" }}
