{{ template "head" "Campfire Tools" }}
<div class="container">
    <div class="container-header">
        {{ template "back_button" "/" }}
        <h1>Tracker</h1>
    </div>

    <p>
        Hi {{ .User.DisplayName }} <img src="{{ .User.AvatarURL }}" class="icon-32" alt="">
        <br/>
        Manage your Campfire club and rewards here.

    </p>

    {{ template "tracker_nav" "" }}
</div>
{{ template "tracker_footer" }}
