{{ template "head" "Reward Code" }}
<div class="container">
    <div class="container-header">
        {{ template "back_button" .BackURL }}
        <h1>Reward Code</h1>
    </div>

    <div class="section">
        <img src="{{ .QRURL }}" alt="QR Code for Reward Code" class="qr-code"/>
    </div>
</div>
{{ template "tracker_footer" }}
