{{ template "head" addStr "Tracker - " .DisplayName }}
<div class="container">
    <div class="container-header">
        {{ template "back_button" "/tracker/members" }}
        <h1>
            {{ template "campfire_member_header" . }}
        </h1>
    </div>

    <div class="section">
        <div class="event-stats">
            <div class="event-stat">
                <span class="event-stat-value">{{ .TotalCheckIns }}</span>
                <span class="event-stat-label">Check-Ins</span>
            </div>
            <div class="event-stat">
                <span class="event-stat-value">{{ .TotalAccepted }}</span>
                <span class="event-stat-label">Not Checked-In</span>
            </div>
            <div class="event-stat">
                <span class="event-stat-value">{{ .TotalClubs }}</span>
                <span class="event-stat-label">Clubs</span>
            </div>
            <div class="event-stat">
                <span class="event-stat-value">{{ .TotalCheckInRate }}%</span>
                <span class="event-stat-label">Check-In Rate</span>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section-header">
            <h2>Details</h2>
        </div>

        <div class="event-overview">
            <div class="event-overview-item">
                <strong>Username</strong>
                <div>{{ if .Username }}{{ .Username }}{{ else }}—{{ end }}</div>
            </div>

            <div class="event-overview-item">
                <strong>Display Name</strong>
                <div>{{ .DisplayName }}</div>
            </div>

            <div class="event-overview-item">
                <strong>Member ID</strong>
                <div><span class="mono">{{ .ID }}</span></div>
            </div>

            <div class="event-overview-item">
                <strong>Imported</strong>
                <div>
                    {{ if not .ImportedAt.IsZero }}
                        {{ formatTimeToRelDayTime .ImportedAt }}
                    {{ else }}
                        —
                    {{ end }}
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section-header">
            <h2>Check-Ins</h2>
        </div>
        {{ range $group := .CheckInEventsByClub }}
            {{ template "event_club_group" $group }}
        {{ else }}
            <span>No events found.</span>
        {{ end }}

        <div class="section-header event-members-subheader">
            <h2>Not Checked-In</h2>
        </div>
        {{ range $group := .AcceptedEventsByClub }}
            {{ template "event_club_group" $group }}
        {{ else }}
            <span>No events found.</span>
        {{ end }}
    </div>
</div>
{{ template "tracker_footer" }}
